{% extends "layout.twig" %}

{% block additionalHead %}
   <link href="/public/css/about_brain.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
   <article>
      <h1>Morceaux choisis</h1>
      <h2>Le coeur</h2>
      <p>Contrairement à ce que mon métier pourrait laisser à penser, je ne me considère pas comme un geek bien au contraire.</p>
      <p>J'apprécie tout particulièrement :</p>
   </article>
{% endblock %}