{% extends "layout.twig" %}

{% block content %}
   <article>
      <h1>Morceaux choisis</h1>
      <h2>Le cerveau</h2>
      <p>Je suis né en Bretagne et j'ai fait la plus grande partie de mes études sur Nantes.</p>
      <p>C'est à cette époque que je découvre pour la première fois le monde de l'open source et les joies de Linux.</p>
      <p>Après avoir obtenu un BAC Génie Electronique, je quitte la cité des ducs pour faire un BTS Informatique de Gestion sur Angers. C'est au cours de cette formation que je découvre le PHP. C'est resté mon langage de prédilection depuis tout ce temps. </p>
      <p>D'un naturel curieux, je suis toujours à l'affût des nouvelles technologies et de leurs possibles applications dans le monde de l'entreprise. </p>

   </article>
{% endblock %}