{% extends "layout.twig" %}

{% block additionalHead %}
   <link href="/public/css/about_brain.css" media="screen" rel="stylesheet" type="text/css">
   <script src="/public/js/about_brain.js"></script>
{% endblock %}

{% block content %}
   <article>
      <h1>Morceaux choisis</h1>
      <h2>Le coeur</h2>
      <p>Contrairement à ce que mon métier pourrait laisser à penser, je ne me considère pas comme un geek bien au contraire.</p>
      <p>J'apprécie tout particulièrement :</p>

      <div class="container">
         <div class="card slide1">
            <img src="/public/img/armadillo.gif" alt="La jolie bébêtte" />
            <h2>Les chats sphynx</h2>
            <div class="clear"></div>
         </div>

         <div class="card slide2">
            <img src="/public/img/armadillo.gif" alt="La jolie bébêtte" />
            <h2>Les dodos</h2>
            <div class="clear"></div>
         </div>
      </div>
   </article>
{% endblock %}