{% extends "layout.twig" %}

{% block content%}
<article>
   <h1>Morceaux choisis</h1>
   <aside>

   </aside>
   <p>Je suis composé principalement de carbone, d'hydrogène, d'azote et d'oxygène, plus quelques minéraux et métaux à l'état de trace. Le tout pour une masse totale légérement inférieure à 80 kg, j'y travaille activement. </p>
   <p>Je mesure environ 170 centimètres au garot en position verticale, je suis un eukariote bilatérien plus par essence que par choix.</p>
</article>
{% endblock %}   