{% extends "layout.twig" %}

{% block additionalHead %}
   <link href="/public/css/contact.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<article>
   <h1>Ecrivez moi !</h1>
   <input type="text" name="nom" placeholder="Votre nom" /><br/>
   <input type="text" name="email" placeholder="Votre mail" /><br/>
   <input type="text" name="sujet" placeholder="Le sujet" /><br/>
   <textarea name="message" placeholder="Votre message"></textarea><br/>
   <button>Envoyer</button>

</article>
{% endblock %}

