{% extends "layout.twig" %}

{% block additionalHead %}    
   <link href="/public/css/home.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
   <article>
      <img src="/public/img/dodo.png" alt="un dodo, l'oiseau" title="Ceci est un dodo" class />
      <h1>Je suis Morgan GIL</h1>
      <h2>et je suis un développeur</h2>

      <p>Voici la deuxième version de mon site personnel. En suivant les recommandations qui m'ont été faites, j'ai modifié le design global afin de rendre les textes plus lisibles et d'ajouter quelques animations supplémentaires.</p>
      <p>Ce site reste obtimisé pour les navigateurs supportant les dernières spécifications du HTML5 et des CSS3.</p>
      <p>Je vous souhaite une bonne visite et n'hésitez pas à me faire part de vos suggestions d'amélioration.</p>
   </article>   
{% endblock %}