{% extends "layout.twig" %}

{% block content %}
<article>
   <h2>Mes projets personnels</h2>
   <em>qui n'ont souvent à vrai dire rien à voir avec l'informatique.</em>
   <div class="projectContainer">
   </div>
</article>   
{% endblock %}